@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Sora', sans-serif;

  --color-primary-50: #f0f9f3;
  --color-primary-100: #daf1e0;
  --color-primary-200: #b7e3c5;
  --color-primary-300: #88cda2;
  --color-primary-400: #4eaa73;
  --color-primary-500: #34955e;
  --color-primary-600: #24774a;
  --color-primary-700: #1d5f3d;
  --color-primary-800: #194c32;
  --color-primary-900: #153f2a;
  --color-primary-950: #0b2317;

  --color-secondary-50: #fef6ee;
  --color-secondary-100: #fee9d6;
  --color-secondary-200: #fbd0ad;
  --color-secondary-300: #f8ae79;
  --color-secondary-400: #f58242;
  --color-secondary-500: #f2601d;
  --color-secondary-600: #df4613;
  --color-secondary-700: #bc3412;
  --color-secondary-800: #962a16;
  --color-secondary-900: #792615;
  --color-secondary-950: #411009;
}
